tasks:
  train_image_classification:
    parameters:
      lr:
        min: 0.01
        max: 0.16
        type: float
      wd:
        min: 0.0001
        max: 0.0016
        type: float
    reward_attr: accuracy
    max_reward: 55
  train_text_translation:
    parameters:
      nlayers:
        min: 1
        max: 3
        type: int
      nhead:
        min: 1
        max: 2
        type: int
      dropout:
        min: 0.1
        max: 0.3
        type: float
      lr:
        min: 4.0
        max: 6.0
        type: float
    reward_attr: perplexity
    max_reward: -249
dist_ips:
num_cpus: 4
num_gpus: 1